
# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea

# Data / cache files
data/etc/storage.json
data/etc/certs/*

/etc/storage.json
/etc/certs/*

*.cert
*.key
*.csr

# Docs
docs/_build
docs/__pycache__/
docs/.cache/

# Compiled Object files
*.pyc

# build specific
/C/plugins/storage/build
/C/services/storage/build
/cmake_build
/plugins
/python_build_dir
/services

# Error Logs
*.err

# Keys and certificates
*.cert
*.csr
*.key

.cache/
