
# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea

# Data / cache files
data/etc/storage.json
data/etc/sqlite.json
data/etc/sqlitelb.json
data/etc/certs/*
data/var
data/support
data/scripts
data/plugins
data/snapshots
data/logs
data/configure_repo_output.txt

# SQLite3 default db location and after migration
data/*.db
data/*.db-wal
data/*.db-shm
data/*.db-journal
scripts/extras/*.db

/etc/storage.json
/etc/certs/*
storage.json

# Docs
docs/_build
docs/__pycache__/
docs/.cache/
docs/plugins
docs/fledge_plugins.rst

# Compiled Object files
*.pyc

# build specific
/C/plugins/storage/build
/C/services/storage/build
/cmake_build
/plugins
/python_build_dir
/services
/tasks

# Error Logs
*.err

# Test files
*.result
*.temp

# Keys and certificates
*.cert
*.csr
*.key
*.cer
*.crt

.cache/

# Backup
data/backup
data/etc/backup_postgres_configuration_cache.json

# test
.pytest_cache
.coverage

# Async ingest pymodule
python/async_ingest.so*
# Filter ingest pymodule
python/filter_ingest.so*

# Python south & filter plugins
python/fledge/plugins/south/*
python/fledge/plugins/filter/*
python/fledge/plugins/notificationDelivery/*
python/fledge/plugins/notificationRule/*
