
# vi
*.swp

# MacOS Finder
.DS_Store
._*

# IDE
*.idea

# Data / cache files
data/etc/storage.json
data/etc/certs/*
data/var
data/tmp

# SQLite3 default db location
data/*.db

/etc/storage.json
/etc/certs/*

*.cert
*.key
*.csr

# Docs
docs/_build
docs/__pycache__/
docs/.cache/

# Compiled Object files
*.pyc

# build specific
/C/plugins/storage/build
/C/services/storage/build
/cmake_build
/plugins
/python_build_dir
/services

# Error Logs
*.err

# Test files
*.result
*.temp

# Keys and certificates
*.cert
*.csr
*.key

.cache/

# Backup
data/backup
data/etc/backup_postgres_configuration_cache.json

# test
.pytest_cache
.coverage
