aiocoap==0.3
aiopg==0.13.0
appdirs==1.4.3
cbor2==4.0.0
docutils==0.13.1
LinkHeader==0.4.3
lockfile==0.12.2
packaging==16.8
psycopg2==2.7.1
pyparsing==2.2.0
python-daemon==2.1.2
PyYAML==3.12
six==1.10.0
SQLAlchemy==1.1.9
