# ?
appdirs
lockfile
pyparsing
six

# env
PyYAML

# deployment
packaging

# run
python-daemon

# postgreSQL
aiopg
SQLAlchemy
psycopg2

# coap
aiocoap
cbor2
LinkHeader

# rest
aiohttp
cchardet
gunicorn
httpie
PyJWT

# docs
docutils
Sphinx
sphinx-autobuild
