pylint==1.9.1
pytest==3.6.0
pytest-allure-adaptor==1.7.10
pytest-asyncio==0.8.0
pytest-mock==1.10.0
pytest-cov==2.5.1
pytest-aiohttp==0.3.0

# Common - REST interface
requests==2.18.4

# Downgrade aiohttp to 2.3.8 (dependency of pytest-aiohttp) due to issue with aiohttp 3.3.1
aiohttp==2.3.8
