# coap
aiocoap==0.3
cbor2==4.0.0

# Postgres for backup
psycopg2==2.7.1

# deployment
# packaging enables pip install -e
packaging==16.8

# rest
aiohttp==2.3.6
aiohttp_cors==0.5.3
cchardet==2.1.1
requests==2.18.4

# sensortag
pexpect==4.0.1
