pylint==2.13.9
pytest==3.6.4
pytest-allure-adaptor==1.7.10
pytest-asyncio==0.10.0
pytest-mock==1.10.3
pytest-cov==2.5.1
pytest-aiohttp==0.3.0

# Common - REST interface
requests==2.20.0

# For RTU serial test
pyserial==3.4

# keep this in sync with requirement.txt, as otherwise pytest-aiohttp always pulls the latest
aiohttp==3.8.1
yarl==1.7.2

# For Azure IoT Hub
azure-storage-blob==12.13.1
pandas==1.1.5